<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>

<form action="/named-cat">
	Name: <input type="text" name="name">
	<input type="submit" value="Name me!">
</form>

<div style='border: 3px dashed purple'>
	<img src='https://i.ytimg.com/vi/dfGA70Tl01U/hqdefault.jpg' alt='Cat picture'>
</div>

